@import './reset.scss';
@import './variables/global.scss';
@import './themes/light.scss';
@import './themes/dark.scss';

.app {
  min-height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}
.page-wrapper {
  display: flex;
}
.page-content {
  padding: 24px;
  flex-grow: 1;
}
